:root {
    --picton-blue-50: rgb(241, 249, 254);
    --picton-blue-100: rgb(226, 241, 252);
    --picton-blue-200: rgb(191, 226, 248);
    --picton-blue-300: rgb(135, 204, 242);
    --picton-blue-400: rgb(83, 183, 234);
    --picton-blue-500: rgb(32, 152, 215);
    --picton-blue-600: rgb(18, 122, 183);
    --picton-blue-700: rgb(16, 97, 148);
    --picton-blue-800: rgb(17, 83, 123);
    --picton-blue-900: rgb(20, 70, 102);
    --picton-blue-950: rgb(13, 44, 68);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.colorHeaderFooter {
    background: linear-gradient(135deg, var(--picton-blue-500) 0%, var(--picton-blue-800));
}

.colorFondo {
    background-color: var(--picton-blue-100);
}

.boton {
    border-radius: 10px;
    background: linear-gradient(135deg, var(--picton-blue-400) 0%, var(--picton-blue-600));
    border: none;
    color: rgb(255,255,255);
    padding: 5px 12px;
}

.texto{
    border: solid 1px var(--picton-blue-900);
    border-radius: 10px;
    height: 40px;
}

.titulo1 {
    font-size: 35px;
    color: var(--picton-blue-950);
    margin: 0;
}

.titulo2 {
    font-size: 25px;
    color: var(--picton-blue-950);
    margin: 0;
}

.titulo3 {
    font-size: 18px;
    color: var(--picton-blue-950);
    margin: 0;
}

.textoNormal {
    font-size: 15px;
    color: var(--picton-blue-800);
    margin: 0;
}


/****** PantallaPrincipal ******/
.iconoConfig i:hover{
    color: var(--picton-blue-500);
    cursor: pointer;
}

.cuentas{
    text-align: center;
}

.contenedorCuenta{
    width: 200px;
    margin: 20px 10px;
    padding: 10px 12px;
    background: linear-gradient(135deg, var(--picton-blue-300) 0%, var(--picton-blue-500)); 
    color: var(--picton-blue-800);
    border-radius: 10px;
}

.contenedorCuenta a{
    text-decoration: none;
    color: inherit;
}

.iconosCuentas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.categorias{
    text-align: center;
}

.calendario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.calendario i:hover{
    color: var(--picton-blue-500);
    cursor: pointer;
}

#posicionCategorias{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.contenedorCategoria{
    width: 45%; 
    margin: 15px 0px;
    background: linear-gradient(135deg, var(--picton-blue-300) 0%, var(--picton-blue-500)); 
    color: var(--picton-blue-800);
    border-radius: 10px;
    padding-bottom: 8px;
}

.contenedorCategoria a{
    text-decoration: none;
    color: inherit;
}

.iconosCuentas i:hover,
.contenedorCategoria i:hover {
    color: var(--picton-blue-100);
    cursor: pointer;
}

.colorTextoFooter li a{
    text-decoration: none;
    color: inherit;
}

.colorTextoFooter li{
    color: var(--picton-blue-300);
}

.colorTextoFooter li:hover {
    color: var(--picton-blue-100); 
}

.iconosFooter i:hover{
    color: var(--picton-blue-100);
}

ul {
    margin: 0;
}